:root {
    --line-red: #C9102E;
    --line-blue: #0032A1;
    --crease-blue: #41b6e6;
    --black: #000;
    --white: #fff;
    --silver: #ccc;
  }

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--silver);
}

#square-box {
    position: absolute;
    top: 25%;
    left: 29.5%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100px;
    height: 300px;
    padding: 10px;
    border: 1px solid black;
  }
  
  .draggable-square {
    width: 30px;
    height: 30px;
    /* border-radius: 50%; */
    cursor: grab;
  }
  
  .draggable-square:not(:last-child) {
    margin-bottom: 10px;
  }
  
  .draggable-square[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }

  #circle-box {
    position: absolute;
    top: 75%;
    left: 29.5%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100px;
    height: 300px;
    padding: 10px;
    border: 1px solid black;
  }
  
  .draggable-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: grab;
  }
  
  .draggable-circle:not(:last-child) {
    margin-bottom: 10px;
  }
  
  .draggable-circle[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }